body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
}

h2 {
    font-weight: bold;
}
.custom-top-space {
    margin-top: 300px; /* You can increase or decrease this */
}
